<h1>Videogames: </h1>

<ul>
  <% @videogames.each do |videogame| %>
    <%= tag.li videogame.name %>
  <% end %>
</ul>

<%= link_to 'Pedir Recomendaciones', new_recommendation_path, class: 'btn btn-primary' %>
